/*===== BASE =====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

/*==== PLEASE REMOVE ====*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*===== COMMON =====*/
html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  line-height: 1.4;
  color: #000000;
  background: #e0e0e0;
}

a {
  color: #000;
  text-decoration: none;
}

.trans {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  outline: none;
}

.trans:hover {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
  text-justify: distribute;
}

img {
  display: block;
  max-width: 100%;
}
img.inline {
  display: inline-block;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

/*===== COMMON PARTS =====*/
header {
  background: #2c3540;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
  border-bottom: 1px solid #a9a9a9;
}
header .left .btn-menu {
  background: #3b4654;
  color: #fff;
  font-size: 30px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 2.666666667;
}
header .left .logo {
  float: left;
}
header .right {
  float: right;
  padding-right: 20px;
}
header .right .icon {
  font-size: 24px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  width: 53px;
  float: left;
}
header .right .infor-user {
  float: left;
  margin-left: 5px;
  padding: 13px 20px;
  width: 320px;
  position: relative;
  cursor: pointer;
}
header .right .infor-user .arrow {
  position: absolute;
  color: #b5b5b5;
  font-size: 18px;
  top: 2px;
  right: 0;
}
header .right .infor-user .avatar {
  -webkit-border-radius: 40px;
  -khtml-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  width: 54px;
  height: 54px;
  background: #3b4654;
  text-align: center;
  line-height: 54px;
  color: #b5b5b5;
  font-size: 24px;
  float: left;
  margin-right: 10px;
}
header .right .infor-user .name {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 6px;
  position: relative;
  top: 0;
  right: 0;
}
header .right .infor-user .name span {
  display: inline-block;
  position: relative;
  padding-right: 31px;
}
header .right .infor-user .position {
  color: #888888;
  font-size: 13px;
}
header .right .infor-user:hover .drop-down {
  display: block;
}
header .right .infor-user .drop-down {
  padding-top: 81px;
  position: absolute;
  top: 0;
  width: 248px;
  left: 72px;
  display: none;
  z-index: 20;
}
header .right .infor-user .drop-down .cover {
  background: rgba(0, 0, 0, 0.64);
  padding: 16px 0 12px;
}
header .right .infor-user .drop-down ul li {
  margin-bottom: 2px;
}
header .right .infor-user .drop-down ul li.active a {
  background: #17aaa4;
}
header .right .infor-user .drop-down ul li a {
  display: block;
  font-size: 17px;
  color: #fff;
  padding: 2px 0 4px 28px;
}
header .right .infor-user .drop-down ul li a:hover {
  background: #17aaa4;
}
header .right .infor-user .drop-down ul li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

/*===== COMMON PAGES =====*/
.mb20 {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.dis-tb {
  display: table;
  width: 100%;
}

.dis-cell {
  display: table-cell;
  vertical-align: top;
}

.col-page {
  margin: 10px;
}

.custom-bar {
  overflow: auto;
}

.col-left {
  width: 100%;
  border: 1px solid #dddddd;
  background: #fff;
}
.col-left .mCSB_buttonDown,
.col-left .mCSB_buttonUp {
  display: none !important;
}

.col-mid {
  width: 100%;
}

.main-content {
  background: #333333;
}

.cover-col {
  padding: 10px;
}

.col01 {
  width: 460px;
}

.col03 {
  width: 340px;
}

.col04 {
  width: 790px;
}

.col-right {
  border: 1px solid #dddddd;
  background: #fff;
}

.flex-grow {
  flex-grow: 1;
}

html,
body {
  height: 100%;
}

.tabs-menu.two-item li {
  width: 50%;
}
.tabs-menu.two-item li a {
  height: 57px;
}
.tabs-menu li {
  float: left;
  width: 33.333333%;
  border-bottom: 4px solid #dddddd;
}
.tabs-menu li.current {
  border-color: #1cbbb4;
}
.tabs-menu li.current a {
  color: #1cbbb4;
}
.tabs-menu li.current a .fa {
  color: #1cbbb4;
}
.tabs-menu li:first-child a {
  border: 0;
}
.tabs-menu li a {
  display: block;
  color: #b5b5b5;
  text-align: center;
  border-left: 1px solid #dddddd;
  padding: 17px 8px 14px 0px;
  font-size: 18px;
  height: 57px;
}
.tabs-menu li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.tabs-menu li a .fa {
  color: #b5b5b5;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.tab-content {
  display: none;
}

#tab-1,
#tab-right-1 {
  display: block;
}

.head-accor {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 21px 18px 14px;
  cursor: pointer;
}
.head-accor.active .arrow {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
  transform: rotate(180deg);
}
.head-accor .arrow {
  position: absolute;
  color: #b5b5b5;
  font-size: 18px;
  top: 22px;
  right: 19px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.content-accor ul li {
  border-bottom: 1px solid #dddddd;
  position: relative;
  padding: 15px 0 9px 39px;
  color: #888888;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.content-accor ul li:hover {
  background-color: #66e3dd;
  color: #fff;
}
.content-accor ul li:hover .time {
  color: #fff;
}
.content-accor ul li.watched:before {
  background-image: url(../img/icon01.png);
}
.content-accor ul li.watching {
  background-color: #66e3dd;
  color: #fff;
}
.content-accor ul li.watching .time {
  color: #fff;
}
.content-accor ul li.watching:before {
  background-image: url(../img/icon02.png);
}
.content-accor ul li a {
  color: #555555;
  font-size: 14px;
  display: inline-block;
  margin-right: 6px;
}
.content-accor ul li a.time {
  margin-right: 13px;
}
.content-accor ul li a.time i {
  margin-right: 7px;
}
.content-accor ul li a i {
  color: #b5b5b5;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.content-accor ul li .ttl-lesson {
  margin-bottom: 11px;
  font-size: 16px;
}
.content-accor ul li:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
  top: 0;
  left: 20px;
  position: absolute;
}
.content-accor ul li:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/icon03.png);
  background-repeat: no-repeat;
  background-position: center center;
  top: 15px;
  left: 10px;
  z-index: 1;
}

.content-accor {
  display: none;
}

.main-content .top-main {
  background: #333333;
  border-bottom: 1px solid #555555;
  padding: 17px 25px 19px 0;
}
.main-content .top-main.has-ttl .left {
  float: left;
}
.main-content .top-main.has-ttl .ttl-h2-post {
  padding-left: 25px;
  font-size: 16px;
  color: #fff;
}
.main-content .top-main .view-style {
  display: inline-block;
  font-size: 14px;
  color: #fff;
}
.main-content .top-main .view-style a {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}
.main-content .top-main .view-style a.no-sidebar {
  background-image: url(../img/icon04.png);
  margin-left: 10px;
}
.main-content .top-main .view-style a.no-sidebar.active {
  background-image: url(../img/icon05.png);
}
.main-content .top-main .view-style a.has-sidebar {
  margin-left: 7px;
  background-image: url(../img/icon06.png);
}
.main-content .top-main .view-style a.has-sidebar.active {
  background-image: url(../img/icon07.png);
}
.main-content .top-main .rating {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-left: 38px;
}
.main-content .top-main .rating a {
  position: relative;
  top: -2px;
  outline: none;
  cursor: pointer;
}
.main-content .top-main .giude {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-left: 34px;
}
.main-content .top-main .giude i {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #b5b5b5;
  margin-right: 9px;
}
.main-content .top-main .right {
  float: right;
}

.video {
  display: block;
  width: 100%;
}

.control-video {
  padding: 20px 20px 0 27px;
}
.control-video .left {
  float: left;
  color: #fff;
  font-size: 14px;
  margin-top: 11px;
}
.control-video .right {
  float: right;
}
.control-video .right a {
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #555555;
  color: #fff;
  -webkit-border-radius: 40px;
  -khtml-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  margin: 0 10px;
}

.flatRoundedCheckbox {
  width: 29px;
  height: 14px;
  margin: 0 17px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.flatRoundedCheckbox input {
  display: none;
}

.flatRoundedCheckbox div {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
}

.flatRoundedCheckbox label {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 2px;
  z-index: 1;
  left: 2px;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ label {
  left: 17px;
}

.italic {
  font-style: italic;
  font-weight: 300;
}

.box-text {
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 9px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}
.box-text textarea {
  width: 100%;
  border: 0;
  resize: none;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 47px;
}
.box-text input {
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  height: 31px;
  margin-bottom: 3px;
}

.list-note {
  padding: 19px 8px 0 10px;
}
.list-note.second {
  padding: 14px 8px 0 14px;
}
.list-note .let {
  margin-bottom: 4px;
}

hr {
  border: 0;
  border-bottom: 1px solid #dddddd;
  margin: 0;
}

.submit {
  display: inline-block;
  width: 82px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #1cbbb4;
  color: #fff;
  padding: 6px 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.submit i {
  font-size: 18px;
  color: #fff;
  margin-right: 5px;
}

.box-note {
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 9px 12px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  position: relative;
}
.box-note .edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
}
.box-note .edit a {
  display: inline-block;
  margin-left: 5px;
}
.box-note .edit a:first-child {
  margin-left: 0;
}
.box-note .edit a i {
  font-size: 18px;
  color: #b5b5b5;
}
.box-note .ttl-box-note {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 6px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  text-decoration: underline;
  width: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.box-note .date {
  color: #b5b5b5;
  font-size: 12px;
  margin-bottom: 6px;
}
.box-note textarea {
  font-size: 14px;
  line-height: 22px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  text-decoration: underline;
  width: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  resize: none;
  height: auto;
}
.box-note p {
  font-size: 14px;
  line-height: 22px;
}

.click-pop {
  display: inline-block;
  vertical-align: middle;
}

.box-rating {
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  background-image: url(../img/star00.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 6px;
  position: relative;
  top: -2px;
}
.box-rating.star1 {
  background-image: url(../img/star01.png);
}
.box-rating.star2 {
  background-image: url(../img/star02.png);
}
.box-rating.star3 {
  background-image: url(../img/star03.png);
}
.box-rating.star4 {
  background-image: url(../img/star04.png);
}
.box-rating.star5 {
  background-image: url(../img/star05.png);
}
.box-rating label {
  float: left;
  margin-left: 7px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.box-rating label:first-child {
  margin-left: 0;
}
.box-rating input {
  display: none;
}

.content-pop {
  width: 506px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  position: relative;
}
.content-pop .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  color: #b5b5b5;
}
.content-pop .ttl-pop-rating {
  text-align: center;
  font-size: 18px;
  color: #1cbbb4;
  font-weight: bold;
  padding-top: 3px;
  margin-bottom: 18px;
}
.content-pop .content-rating-pop {
  width: 380px;
  margin: 0 auto;
}
.content-pop .content-rating-pop .content-mess {
  width: 100%;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  resize: none;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 18px;
  margin-bottom: 5px;
}
.content-pop .content-rating-pop .content-mess.fixup {
  padding: 5px;
  height: 150px;
}

.detail-rating {
  width: 192px;
  margin: 0 auto;
}
.detail-rating table {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 9px;
}
.detail-rating table tr th {
  width: 85px;
  text-align: left;
  color: #333333;
  font-size: 14px;
  vertical-align: middle;
  padding: 6px 0 7px;
}
.detail-rating table tr td {
  vertical-align: middle;
  padding: 6px 0 7px;
}

.cmn-btn {
  width: 160px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  background: #1cbbb4;
  display: inline-block;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  padding: 9px 0 8px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  cursor: pointer;
}

.comment {
  margin-top: 16px;
}

.box-comment {
  position: relative;
  padding-left: 4px;
  padding-left: 34px;
  padding-bottom: 10px;
}
.box-comment.sub {
  padding-left: 28px;
  position: relative;
  top: -1px;
  margin-bottom: 0px;
  padding-bottom: 0;
  margin-bottom: -2px;
}
.box-comment.sub .avatar {
  width: 22px;
  height: 22px;
  line-height: 17px;
  top: 4px;
  left: -1px;
}
.box-comment .avatar {
  position: absolute;
  width: 31px;
  height: 31px;
  text-align: center;
  line-height: 27px;
  -webkit-border-radius: 48px;
  -khtml-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  border-radius: 48px;
  top: 0;
  left: 0;
  background: #3b4654;
}
.box-comment .avatar i {
  font-size: 14px;
  color: #b5b5b5;
}
.box-comment .name {
  color: #477cb1;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.box-comment .name span {
  display: inline-block;
  color: #fff;
  font-size: 9px;
  font-weight: 300;
  background: #1cbbb4;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.box-comment p {
  font-size: 14px;
}
.box-comment .get-img {
  position: relative;
  margin-top: 3px;
  margin-bottom: 2px;
}
.box-comment .get-img .send {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 18px;
}

.box-write {
  border: 1px solid #b5b5b5;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 7px;
}
.box-write table {
  width: 100%;
}
.box-write table tr td {
  vertical-align: middle;
}
.box-write table .imoj {
  width: 19px;
  text-align: center;
}
.box-write table .pic {
  width: 20px;
  text-align: center;
}
.box-write input {
  height: 27px;
  width: 100%;
  text-indent: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  background: none;
}
.box-write .utility {
  float: right;
  line-height: 27px;
}
.box-write .utility a {
  display: inline-block;
  vertical-align: middle;
  line-height: 27px;
}

.answer .left {
  float: left;
}
.answer .left span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.answer .left a {
  font-size: 13.5px;
  color: #3b74ad;
  display: inline-block;
}
.answer .left a.like {
  color: #a3a3a3;
  font-size: 13.5px;
}
.answer .left a.like span {
  margin: 0;
}
.answer .left a.like i {
  font-size: 18px;
  margin-right: 4px;
}
.answer .left a.like.active {
  color: #a3a3a3;
}
.answer .left a.like.active i {
  color: #2c83cd;
}
.answer .left a.dislike {
  color: #a3a3a3;
  font-size: 13.5px;
}
.answer .left a.dislike span {
  margin: 0;
}
.answer .left a.dislike i {
  font-size: 18px;
  margin-right: 5px;
}
.answer .left a.dislike.active {
  color: #a3a3a3;
}
.answer .left a.dislike.active i {
  color: #a61616;
}
.answer .right {
  float: right;
  margin-top: 3px;
  font-size: 12px;
  color: #b5b5b5;
  font-weight: 300;
}

.sub-anwer {
  position: relative;
  margin-bottom: 2px;
}
.sub-anwer input {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  background: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
.sub-anwer input:focus {
  border-bottom: 1px solid #1cbbb4;
}
.sub-anwer .right {
  position: absolute;
  top: 0;
  right: 0;
}
.sub-anwer .right a {
  display: inline-block;
}

.multy-image {
  border: 1px solid #ddd;
  padding: 1px;
  position: relative;
}
.multy-image .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  z-index: 10;
  color: #e0e0e0;
  font-size: 10px;
}
.multy-image img {
  float: left;
  width: 40%;
  margin-right: 1%;
}

.fix-ttl {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: no-repeat;
  border: 0;
  background: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #1cbbb4;
  font-size: 16px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1500px) {
  .cover-col {
    padding: 5px;
  }

  .container {
    padding: 5px;
  }

  .col01 {
    width: 350px;
  }

  .col03 {
    width: 300px;
  }

  .tabs-menu.two-item li a {
    height: 40px;
  }
  .tabs-menu.two-item li a img {
    height: 20px;
  }
  .tabs-menu li a {
    font-size: 14px;
    height: 40px;
    padding: 10px 0;
  }
  .tabs-menu li a .fa {
    font-size: 20px;
  }

  .head-accor {
    font-size: 16px;
  }

  .content-accor ul li {
    padding-left: 30px;
  }
  .content-accor ul li:after {
    left: 13px;
  }
  .content-accor ul li:before {
    left: 3px;
  }
  .content-accor ul li .ttl-lesson {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .tabs-menu.four-item.stl2 li {
    width: 180px;
  }
}
.tabs-menu.four-item {
  margin-bottom: 20px;
  background: #fff;
}
.tabs-menu.four-item.stl2 {
  margin-bottom: 0;
}
.tabs-menu.four-item.stl2 li {
  width: 195px;
}
.tabs-menu.four-item.stl2 li:last-child {
  border-right: 1px solid #dddddd;
}
.tabs-menu.four-item li {
  width: 25%;
  border-color: #dddddd;
}
.tabs-menu.four-item li a {
  color: #888888;
}
.tabs-menu.four-item li.current a {
  background: #1cbbb4;
  color: #fff;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
}
.tabs-menu.four-item li.current a i {
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .tabs-menu.four-item.stl2 li {
    width: 180px;
  }
}
.bdt2 {
  border-top: 2px solid #dddddd;
}

.box-tu-luan {
  border-bottom: 2px solid #dddddd;
  padding: 0 15px 0 25px;
  position: relative;
}
.box-tu-luan.text {
  font-size: 14px;
}
.box-tu-luan.text table {
  line-height: 39px;
  vertical-align: middle;
}
.box-tu-luan.text table i {
  font-size: 18px;
}
.box-tu-luan.box-sl {
  padding: 28px 15px 21px 25px;
  font-size: 14px;
}
.box-tu-luan.box-sl .submit {
  position: absolute;
  right: 12px;
  bottom: 26px;
}
.box-tu-luan.box-sl.stl2 {
  padding-top: 5px;
  padding-bottom: 26px;
}
.box-tu-luan.box-sl.stl2 table {
  line-height: 30px;
}
.box-tu-luan.box-sl table {
  line-height: 39px;
}
.box-tu-luan .tool {
  position: relative;
  margin-bottom: 1px;
}

.preview {
  position: absolute;
  top: 7px;
  right: -3px;
}
.preview.stl2 {
  top: 11px;
  right: 11px;
}
.preview label {
  cursor: pointer;
}
.preview label input {
  display: none;
}
.preview label span {
  padding: 2px 0 2px 20px;
  background-image: url(../img/icon16.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14px;
}
.preview label input:checked + span {
  background-image: url(../img/icon17.png);
}

.text-area-none {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 0;
  resize: none;
  width: 100%;
  padding: 11px 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
}

.h194 {
  height: 194px;
}

.h98 {
  height: 98px;
}

.fa-rotate-45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.35)";
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.fa-rotate-452 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.9)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.col-35 {
  color: #357ebd;
}

.col-79 {
  color: #798c9c;
}

.list-style li {
  display: inline-block;
  margin-right: 35px;
}
.list-style li label {
  display: block;
  cursor: pointer;
}
.list-style li label input {
  display: none;
}
.list-style li label span {
  padding: 2px 0 2px 20px;
  background-image: url(../img/icon19.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14px;
}
.list-style li label input:checked + span {
  background-image: url(../img/icon18.png);
}

.cover-select {
  border: 1px solid #dddddd;
  border-radius: 2px;
  width: 157px;
  position: relative;
}
.cover-select:after {
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  right: 0;
  content: "";
  background: url(../img/icon20.png) no-repeat center center;
  pointer-events: none;
}
.cover-select select {
  width: 100%;
  height: 25px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  display: block;
  padding: 0 10px;
}

.list-answer {
  font-size: 14px;
  padding-top: 17px;
}
.list-answer .list-style li {
  margin: 0;
}
.list-answer table td {
  text-align: center;
}
.list-answer table th {
  text-align: left;
}
.list-answer table img {
  display: inline-block;
}
.list-answer table thead th {
  padding-bottom: 17px;
}
.list-answer table tbody tr th {
  padding: 16px 0;
  vertical-align: middle;
}
.list-answer table tbody tr td {
  vertical-align: middle;
}
.list-answer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #282828;
  border-bottom: 1px solid #fff;
}
.list-answer input:focus {
  border-color: #26d8d0;
}
.list-answer .num {
  color: #1cbbb4;
  width: 15px;
}
.list-answer .add-answer {
  margin-left: 5px;
}

.top-main.detail {
  padding-bottom: 8px;
}
.top-main.detail .left-top-detail {
  float: left;
  font-size: 26.82px;
  color: #1cbbb4;
  margin-left: 98px;
  position: relative;
  top: -7px;
}
.top-main.detail .left-top-detail img {
  margin-right: 12px;
  position: relative;
  top: -4px;
}

.content-post {
  padding: 8px 0 8px 98px;
  position: relative;
}
.content-post .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 !important;
}
.content-post:hover .up-down,
.content-post:hover .control-video,
.content-post:hover .mCSB_scrollTools a + .mCSB_draggerContainer {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.content-post .up-down,
.content-post .control-video,
.content-post .mCSB_scrollTools a + .mCSB_draggerContainer {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
.content-post h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
.content-post h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.content-post h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.content-post h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.content-post p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.content-post strong {
  font-weight: bold;
}
.content-post ul,
.content-post ol {
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 20px;
}
.content-post ol li {
  list-style: disc;
}
.content-post ul li {
  list-style: decimal;
}
.content-post .inner {
  background: #fff;
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0;
}
.content-post .inner .mCustomScrollBox {
  padding-right: 117px !important;
}
.content-post .inner .mCustomScrollBox:after {
  position: absolute;
  height: 100%;
  top: 0;
  width: 97px;
  right: 0;
  content: "";
  background: #333333;
}
.content-post .inner .mCSB_container {
  padding: 20px;
}
.content-post .inner .mCSB_scrollTools {
  right: 97px;
  z-index: 100;
}
.content-post .inner .mCSB_container_wrapper {
  margin-right: 117px !important;
}
.content-post .inner .mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp {
  width: 45px;
  height: 41px;
  top: 50%;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  background: url(../img/icon14.png) no-repeat center center;
  margin-top: -19px;
  right: -72px;
}
.content-post .inner .mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown {
  width: 45px;
  height: 41px;
  top: 50%;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  background: url(../img/icon15.png) no-repeat center center;
  margin-top: 44px;
  right: -72px;
}
.content-post .control-video {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px 1px;
}
.content-post .control-video .right a {
  margin: 0 4px;
}
.content-post .up-down {
  position: absolute;
  top: 50%;
  margin-top: -41px;
  right: 25px;
}
.content-post .up-down a {
  display: block;
  margin: 22px 0;
}

@media screen and (max-width: 1500px) {
  .main-content .top-main.detail .left-top-detail {
    margin-left: 10px;
  }
  .main-content .top-main .giude {
    margin-left: 15px;
  }
  .main-content .top-main .giude i {
    margin-right: 5px;
  }
  .main-content .top-main .rating {
    margin-left: 15px;
  }
}
.content-list-ask {
  padding: 10px 11px 10px 25px;
}

.tab-content-js01 {
  display: none;
}

#tab-left-11 {
  display: block;
}

#tab-left-22,
#tab-left-33 {
  background: #fff;
}

.cover-select2 {
  position: relative;
  border: 1px solid #c1c0c0;
}
.cover-select2:after {
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../img/icon23.png) no-repeat right 5px center;
  content: "";
}
.cover-select2 select {
  height: 20px;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border: 0;
  outline: none;
}

.box-select {
  float: left;
  width: 11.5%;
  margin-right: 3.8%;
}
.box-select p {
  font-size: 14px;
  color: #8495a4;
  margin-bottom: 6px;
}
.box-select.long {
  width: 30%;
  margin-right: 0;
}

.box-head-filter {
  display: table;
  width: 100%;
}
.box-head-filter > div {
  display: table-cell;
  font-size: 14px;
  color: #8495a4;
  padding: 24px 0 6px;
}
.box-head-filter .col4 {
  text-align: center;
  width: 12%;
}
.box-head-filter .col5 {
  text-align: center;
  width: 21%;
}
.box-head-filter .col1 {
  color: #2f83b8;
  padding-left: 15px;
  width: 16%;
}
.box-head-filter .col2 {
  color: #181919;
  width: 16%;
}
.box-head-filter .col3 {
  color: #2f83b8;
  width: 13%;
}

.list-fliter > ul > li {
  border: 1px solid #e1e1e1;
  border-top: 2px solid #798c9c;
  margin-bottom: 6px;
}
.list-fliter > ul > li.active .body-filter, .list-fliter > ul > li:hover .body-filter {
  background: #f4d4db;
}

.body-filter {
  display: table;
  width: 100%;
  background: #e1f3fc;
}
.body-filter > div {
  display: table-cell;
  font-size: 14px;
  padding: 15px 0px 20px;
}
.body-filter .col1 {
  color: #2f83b8;
  padding-left: 15px;
  width: 16%;
}
.body-filter .col2 {
  color: #181919;
  width: 16%;
}
.body-filter .col3 {
  color: #2f83b8;
  width: 13%;
}
.body-filter .yellow {
  display: inline-block;
  color: #fff;
  background: #d5ce16;
  font-size: 12px;
  padding: 2px 19px;
}
.body-filter .green {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #1cbbb4;
  padding: 2px 19px;
}
.body-filter .col4 {
  text-align: center;
  width: 12%;
}
.body-filter .col5 {
  text-align: center;
  width: 21%;
}
.body-filter .col6 {
  text-align: center;
}

.question-filter {
  display: table;
  width: 100%;
  color: #888888;
  font-size: 14px;
  line-height: 29px;
}
.question-filter .ask {
  display: table-cell;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 15px;
}
.question-filter .add-answer {
  display: table-cell;
  width: 58%;
}
.question-filter .add-answer ul li {
  width: 50%;
  margin: 0;
  float: left;
  padding-right: 20px;
}
.question-filter .add-answer ul li span {
  display: block;
  background-position: 2px 11px;
}

@media screen and (max-width: 1400px) {
  .col04 {
    width: 650px;
  }

  .box-select {
    margin-bottom: 10px;
    width: 30%;
    margin-right: 2%;
  }
  .box-select p {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .box-select.long {
    width: 62%;
  }

  .body-filter .col1,
  .box-head-filter .col1,
  .question-filter .ask {
    padding-left: 5px;
  }

  .body-filter > div,
  .box-head-filter > div,
  .question-filter .ask,
  .list-style li label span {
    font-size: 12px;
  }

  .question-filter .add-answer ul li span {
    background-position: 2px 8px;
  }

  .question-filter {
    line-height: 24px;
  }

  .content-list-ask {
    padding: 10px 11px 5px 10px;
  }
}
.hidden-control .mCSB_buttonUp {
  display: none !important;
}
.hidden-control .mCSB_buttonDown {
  display: none !important;
}
.hidden-control .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin-top: 0;
  margin-bottom: 0;
}
.hidden-control .mCSB_container_wrapper {
  margin-right: 3px;
}

.box-search-soan {
  width: 419px;
  border: 1px solid #1cbbb4;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.box-search-soan input {
  width: 100%;
  height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border: 0;
  outline: none;
  background: none;
  font-size: 15px;
  padding-left: 37px;
}
.box-search-soan button {
  position: absolute;
  width: 35px;
  height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border: 0;
  outline: none;
  background: none;
  font-size: 15px;
  color: #798c9c;
}

.box-list-soan {
  border: 1px solid #dddddd;
}
.box-list-soan .col01,
.box-list-soan .col02,
.box-list-soan .col03,
.box-list-soan .col04 {
  display: table-cell;
}
.box-list-soan .col04 {
  width: 29%;
}
.box-list-soan .col03 {
  width: 18%;
}
.box-list-soan .col02 {
  width: 13%;
}

.content-listsoan {
  padding: 13px 33px 0 23px;
}

.head-list-soan {
  display: table;
  width: 100%;
}
.head-list-soan > div {
  padding-top: 3px;
  padding-bottom: 6px;
  border-bottom: 1px solid #dddddd;
}
.head-list-soan .col02,
.head-list-soan .col03,
.head-list-soan .col04 {
  border-left: 1px solid #dddddd;
  text-align: center;
}
.head-list-soan .col01 {
  padding-left: 38px;
  text-align: left;
}

.body-list-soan {
  font-size: 14px;
  color: #0f0f0f;
  line-height: 22px;
}
.body-list-soan > div {
  vertical-align: middle;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
.body-list-soan .col02,
.body-list-soan .col03 {
  text-align: center;
}
.body-list-soan .col02,
.body-list-soan .col03,
.body-list-soan .col04 {
  border-left: 1px solid #dddddd;
}
.body-list-soan .col04 {
  padding-left: 12px;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-right: 45px;
}
.body-list-soan .col04 .delete {
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -6px;
}
.body-list-soan .col01 {
  padding-left: 39px;
  position: relative;
}
.body-list-soan .col01:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
  top: 0;
  left: 20px;
  position: absolute;
}
.body-list-soan .col01:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/icon03.png);
  background-repeat: no-repeat;
  background-position: center center;
  top: 15px;
  left: 10px;
  z-index: 1;
}
.body-list-soan .col01.watched:before {
  background-image: url(../img/icon01.png);
}
.body-list-soan .col01.watching:before {
  background-image: url(../img/icon02.png);
}
.body-list-soan .col01 .ttl {
  font-size: 16px;
  margin-bottom: 10px;
}
.body-list-soan .col01 a {
  color: #555555;
  margin-right: 6px;
}
.body-list-soan .col01 a i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  color: #b5b5b5;
  margin-right: 5px;
}
.body-list-soan .num {
  color: #1cbbb4;
  font-weight: bold;
}

.box-list-soan .hidden-control .mCSB_container_wrapper {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
