<template>
<div>
	<input type="hidden" name="curriculumContent" :value="curriculumContent">
	<div class="form-group col-md-12">
		<button type="button"  data-backdrop="static" data-keyboard="false" class="btn btn-link" data-toggle="modal" data-target="#addAddendum">
			<i class="fa fa-plus"></i> 
			Thêm mới phần học mới
		</button>
	</div>
	<div class="form-group col-md-12">
		<div class="panel panel-default" v-for="(addendum, addendumIndex) in addendumsData">
		 	<div class="panel-heading">
			    <h4>Phần {{addendumIndex +1 }}:  {{ addendum.name }}
				    <span class="btn-group pull-right">
				        <button @click="editAddendumFn(addendum, addendumIndex)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button>
				        <button type="button" class="btn btn-info btn-sm" @click="toggleAddendum(addendum)"><i :class="toggleIcon(addendum)"></i></button>
				        <button type="button" class="btn btn-danger btn-sm" @click="deleteAddendum(addendumIndex)"><i class="fa fa-times"></i></button>
				    </span>
		    	</h4>
			</div>
		 	<div class="panel-body" v-show="addendum.show">
		 		<input type="search" class="form-control" 
		 			v-model="lessonSearch" 
		 			placeholder="Tìm bài học"
		 			@keyup="search"
		 			>
		 		<br>
				<table class="table table-bordered" v-if="lessonResult">
					<tbody>
		                <tr  v-for="(lesson, lessonResultIndex) in lessonResult" v-if="checkLesson(lesson)">
		                    <td>{{ viewTest(lesson) }} {{ lesson.name }}</td>
		                    <td class="text-right" style="border-left:none">
								<button type="button" class="btn btn-sm btn-success" data-original-title="Add" @click="addLesson(addendum, lesson)"><i class="fa fa-plus"></i></button> 
							</td>
		                </tr>
		            </tbody>
				</table>
		 		<br>

		    	<div class="table-responsive">
			        <table class="table table-bordered">
			            <thead>
			                <tr>
			                    <th>STT</th>
			                    <th>Tên</th>
			                    <th>Mã</th>
			                    <th>Giá</th>
			                    <th>Lĩnh vực</th>
			                    <th>Hành động</th>
			                </tr>
			            </thead>
			            <!-- <tbody v-if="addendum.lessons"> -->
		            	<draggable v-model="addendum.lessons" :element="'tbody'" @change="movedAddendum">
			                <tr v-for="(lesson, lessonIndex) in addendum.lessons" :key="lesson.id">
			                    <td>{{ lessonIndex +1 }}</td>
			                    <td>{{ viewTest(lesson) }}{{ lesson.name }}</td>
			                    <td>Mã</td>
			                    <td>{{ lesson.price }}</td>
			                    <td>{{ lesson.is_test ? '': lesson.knowledge_area.name }}</td>
			                    <td>
			                    	<button type="button" class="btn btn-danger btn-sm" data-original-title="Add" @click="deleteLesson(addendum, lessonIndex, lesson)"><i class="fa fa-times" aria-hidden="true"></i></button> 
			                    </td>
			                </tr>
			            </draggable>
			            <!-- </tbody> -->
			        </table>
			    </div>
		 	</div>
		</div>
	</div>
	<div class="modal" id="addAddendum" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Thông tin phần học</h4>
					<button @click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Tên phần học:</label>
							<input type="text" v-model="addendumName" class="form-control">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Ghi chú:</label>
							<input type="text" v-model="addendumNote" class="form-control" >
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" @click="closeModal" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-primary" @click="addAddendum">Hoàn thành</button>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<script>

import draggable from 'vuedraggable'

export default {
	name: 'CurriculumContent',
	components: {
        draggable,
    },
    props: ['addendums'],
	data () {
		return {
			addendumName: '',
			addendumNote: '',
			lessonSearch: '',
			lessonResult: [],
			curriculumContent: '',
			editAddendum: false,
			editAddendumindex: -1,
			addendumsData: [],
			choosedLesson: [],
			deletedLesson: []
		}
	},
	created () {
		this.addendumsData = this.addendums
		for (let addendum of this.addendumsData) {
		   for (let lesson of addendum.lessons) {
		   		this.choosedLesson[lesson.id] = false
			}
		}
		this.updateCurriculumContent()
	},
	methods: {
		addAddendum () {
			if (this.addendumName) {
				if(this.editAddendum){
					this.addendumsData[this.editAddendumindex].name = this.addendumName
					this.addendumsData[this.editAddendumindex].note = this.addendumNote
					$('#addAddendum').modal('hide')
					$('.modal-backdrop').remove()
	                $('body').removeClass('modal-open')
	                this.addendumName = ''
	                this.addendumNote = ''
	                this.editAddendumindex = -1
            		this.editAddendum = false
				} else {
					let newAddendum = {'name':this.addendumName,  'note':this.addendumNote, 'show': false, 'lessons': []}
					this.addendumsData.push(newAddendum)
					$('#addAddendum').modal('hide')
					$('.modal-backdrop').remove()
	                $('body').removeClass('modal-open')
	                this.addendumName = ''
	                this.addendumNote = ''
				}
				this.updateCurriculumContent()
			}
		},
		deleteAddendum (addendumIndex) {
			this.addendumsData.splice(addendumIndex, 1)
			this.updateCurriculumContent()
		},
		editAddendumFn (addendum, addendumIndex) {
			$('#addAddendum').modal('show')
			this.addendumName = addendum.name
            this.addendumNote = addendum.note
            this.editAddendumindex = addendumIndex
            this.editAddendum = true
		},
		toggleAddendum (addendum) {
			addendum.show = !addendum.show
		},
		toggleIcon (addendum) {
			if (addendum.show) {
				return 'fa fa-caret-up'
			}
			return 'fa fa-caret-down'
		},
		search () {
			if (this.lessonSearch) {
				axios.get(`/admin/curriculums/lessons`, { params: { name: this.lessonSearch } }).then(({ data }) => {
		        this.lessonResult = data
		      })
			}
		},
		closeModal () {
			this.addendumName = ''
            this.addendumNote = ''
            this.editAddendumindex = -1
    		this.editAddendum = false
		},
		updateCurriculumContent () {
			this.curriculumContent = JSON.stringify(this.addendumsData)
		},
		movedAddendum(){
			this.updateCurriculumContent()
		},
		deleteLesson(addendum, lessonIndex, lesson){
			addendum.lessons.splice(lessonIndex, 1)
			this.updateCurriculumContent()
			this.choosedLesson[lesson.id] = true
			axios.delete(`/admin/curriculums/lessons/`+lesson.id)
		},
		checkLesson (lesson) {
			if (this.choosedLesson[lesson.id] === false) {
				return false
			}
			return true
		},
		addLesson (addendum, lesson) {
			addendum.lessons.push(lesson)
			this.updateCurriculumContent()
			this.choosedLesson[lesson.id] = false
		},
		viewTest(lesson) {
			if (lesson.is_test) {
				return '[Bài thi] ' ;
			}
			return '';
		}
	}
}
</script>