<template>
<div class="row">
	<div class="col-md-6 form-group">
		<h4>Danh sách câu hỏi đã chọn:</h4>
		<div style="max-height:500px;overflow-y:scroll;" v-if="choosedQuestion.length">
	        <table class="table table-bordered table-hover">
            	<draggable v-model="choosedQuestion" :element="'tbody'">
	                <tr v-for="(question, questionIndex) in choosedQuestion">
	                    <td>{{ questionIndex +1 }}</td>
	                    <td v-html="question.content"></td>
	                    <td>{{ question.type }}</td>
	                    <td>
	                    	<button type="button" class="btn btn-danger btn-sm" data-original-title="Delete" @click="deleteQuestion(questionIndex)"><i class="fa fa-times" aria-hidden="true"></i></button> 
	                    </td>
	                </tr>
	            </draggable>
	        </table>
	    </div>
	</div>
	<div class="col-md-6 form-group">
		<div class="col-md-12 form-group">
			<label>Tìm kiếm câu hỏi:</label>
			<input type="search" class="form-control" 
	 			v-model="keyword" 
	 			placeholder="Nội dung"
	 			@keyup="search"
	 			>
	 	</div>
	 	<div class="col-md-6 form-group">
			<select  v-model="knowledgeAreaId" class="form-control">
				<option value>-- Lĩnh vực kiến thức --</option>
				<option v-for="(knowledgeArea, knowledgeAreaIndex)  in knowledgeareas" :value="knowledgeAreaIndex"> {{ knowledgeArea }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="knowledgeTypeId" class="form-control">
				<option value>-- Loại kiến thức --</option>
				<option v-for="(knowledgeType, knowledgeTypeIndex)  in knowledgetypes" :value="knowledgeTypeIndex"> {{ knowledgeType }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="level" class="form-control">
				<option value>-- Cấp độ --</option>
				<option v-for="(level, levelIndex)  in levels" :value="levelIndex"> {{ level }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="questioncate" class="form-control">
				<option value>-- Thể loại --</option>
				<option v-for="(questioncate, questioncateIndex)  in questioncates" :value="questioncateIndex"> {{ questioncate }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="questiontype" class="form-control">
				<option value>-- Kỹ năng --</option>
				<option v-for="(questiontype, questiontypeIndex)  in questiontypes" :value="questiontypeIndex"> {{ questiontype }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="questionapprove" class="form-control">
				<option value>-- Trạng thái duyệt --</option>
				<option v-for="(questionapprove, questionapproveIndex)  in questionapproves" :value="questionapproveIndex"> {{ questionapprove }}</option>
			</select>
		</div>
		<div class="col-md-6 form-group">
			<select  v-model="questionapply" class="form-control">
				<option value>-- Trạng thái áp dụng --</option>
				<option v-for="(questionapply, questionapplyIndex)  in questionapplys" :value="questionapplyIndex"> {{ questionapply }}</option>
			</select>
		</div>
	 	<div class="col-md-12 form-group" style="max-height:500px;overflow-y:scroll;">
			<table class="table table-bordered" v-if="questionResult.length">
				<tbody>
	                <tr  v-for="(question, questionResultIndex) in questionResult" v-if="viewQuestion(question)">
	                    <td v-html="question.content"></td>
	                    <td class="text-right" style="border-left:none">
							<button type="button" class="btn btn-sm btn-success" data-original-title="Add" @click="addQuestion(question)"><i class="fa fa-plus"></i>
							</button> 
						</td>
	                </tr>
	            </tbody>
			</table>
		</div>
	</div>
	<input type="hidden" name="questionHidden" :value="questionHidden">
</div>
</template>
<script>

import draggable from 'vuedraggable'

export default {
	name: 'TestContent',
	components: {
        draggable,
    },
	data () {
		return {
			keyword: '',
			questionHidden: '',
			questionResult: [],
			choosedQuestion: [],
			questionIds: [],
			knowledgeAreaId: '',
			knowledgeTypeId: '',
			level: '',
			questioncate: '',
			questiontype: '',
			questionapprove: '',
			questionapply: ''
		}
	},
	props: {
		questions: {
			type: Array,
			required: true
		},
		knowledgeareas: {
			type: Object,
			required: true
		},
		knowledgetypes: {
			type: Object,
			required: true
		},
		levels: {
			type: Array,
			required: true
		},
		questioncates: {
			type: Object,
			required: true
		},
		questiontypes: {
			type: Object,
			required: true
		},
		questionapproves: {
			type: Array,
			required: true
		},
		questionapplys: {
			type: Array,
			required: true
		}
	},
	created () {
		this.choosedQuestion = this.questions
		this.questionIds = this.questions.map(item => item.id)
		this.questionHidden = JSON.stringify(this.questionIds)
	},
	watch: {
		choosedQuestion () {
			this.questionIds = this.choosedQuestion.map(item => item.id)
			this.questionHidden = JSON.stringify(this.questionIds)
		},
		knowledgeAreaId () {
			this.search()
		},
		knowledgeTypeId () {
			this.search()
		},
		level () {
			this.search()
		},
		questioncate () {
			this.search()
		},
		questiontype () {
			this.search()
		},
		questionapprove () {
			this.search()
		},
		questionapply () {
			this.search()
		}
	},
	methods: {
		search () {
			axios.get(`/admin/questions/get-list`, { 
				params: { 
					content: this.keyword,
					k_area: this.knowledgeAreaId,
					k_type: this.knowledgeTypeId,
					level: this.level,
					type: this.questioncate,
					q_type: this.questiontype,
					approve: this.questionapprove,
					apply: this.questionapply
				} 
			}).then(({ data }) => {
	        	this.questionResult = data.data
	      	})
		},
		addQuestion(question) {
	   		this.choosedQuestion.push(question)
	   	},
	   	viewQuestion(question) {
	   		if(this.questionIds.indexOf(question.id) > -1) {
	   			return false
	   		}
	   		return true
	   	},
	   	deleteQuestion(questionIndex) {
	   		this.choosedQuestion.splice(questionIndex, 1)
	   	},
	}
}
</script>