@charset "utf-8";

.top-main {
	&.detail {
		padding-bottom: 8px;

		.left-top-detail {
			float: left;
			font-size: 26.82px;
			color: #1cbbb4;
			margin-left: 98px;
			position: relative;
			top: -7px;

			img {
				margin-right: 12px;
				position: relative;
				top: -4px;
			}

		}

	}

}

.content-post {
	padding: 8px 0 8px 98px;
	position: relative;

	.mCSB_scrollTools a + .mCSB_draggerContainer {
		margin: 0 !important;
	}

	&:hover {
		.up-down,
		.control-video,
		.mCSB_scrollTools a + .mCSB_draggerContainer {
			@include opacity(1);
		}

	}

	.up-down,
	.control-video,
	.mCSB_scrollTools a + .mCSB_draggerContainer {
		@include opacity(0);
	}

	.mCSB_buttonUp,
	.mCSB_buttonDown {
		//@include opacity(0) !important;
	}

	h1 {
		font-size: 22px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 10px;
	}

	strong {
		font-weight: bold;
	}

	ul,
	ol {
		margin-bottom: 15px;
		font-size: 14px;
		padding-left: 20px;
	}

	ol {
		li {
			list-style: disc;
		}

	}

	ul {
		li {
			list-style: decimal;
		}

	}

	.inner {
		background: #fff;
		position: relative;
		width: 100%;
		overflow: auto;
		padding: 0;

		.mCustomScrollBox {
			padding-right: 117px !important;

			&:after {
				position: absolute;
				height: 100%;
				top: 0;
				width: 97px;
				right: 0;
				content: "";
				background: #333333;
			}

		}

		.mCSB_container {
			padding: 20px;
		}

		.mCSB_scrollTools {
			right: 97px;
			z-index: 100;
		}

		.mCSB_container_wrapper {
			margin-right: 117px !important;
		}

		.mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp {
			width: 45px;
			height: 41px;
			top: 50%;
			@include opacity(1);
			background: url(../img/icon14.png) no-repeat center center;
			margin-top: -19px;
			right: -72px;
		}

		.mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown {
			width: 45px;
			height: 41px;
			top: 50%;
			@include opacity(1);
			background: url(../img/icon15.png) no-repeat center center;
			margin-top: 44px;
			right: -72px;
		}

	}

	.control-video {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 16px 1px;

		.right {
			a {
				margin: 0 4px;
			}

		}

	}

	.up-down {
		position: absolute;
		top: 50%;
		margin-top: -41px;
		right: 25px;
		//display: none;

		a {
			display: block;
			margin: 22px 0;
		}

	}

}

@media screen and (max-width:1500px) {
	.main-content {
		.top-main {
			&.detail {
				.left-top-detail {
					margin-left: 10px;
				}

			}

			.giude {
				margin-left: 15px;

				i {
					margin-right: 5px;
				}

			}

			.rating {
				margin-left: 15px;
			}

		}

	}

}

.content-list-ask {
	padding: 10px 11px 10px 25px;
}

.tab-content-js01 {
	display: none;
}

#tab-left-11 {
	display: block;
}

#tab-left-22,
#tab-left-33 {
	background: #fff;
}

.cover-select2 {
	position: relative;
	border: 1px solid #c1c0c0;

	&:after {
		position: absolute;
		width: 25px;
		height: 100%;
		top: 0;
		right: 0;
		background: url(../img/icon23.png) no-repeat right 5px center;
		content: "";
	}

	select {
		height: 20px;
		display: block;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: none;
		border: 0;
		outline: none;
	}

}

.box-select {
	float: left;
	width: 11.5%;
	margin-right: 3.8%;

	p {
		font-size: 14px;
		color: #8495a4;
		margin-bottom: 6px;
	}

	&.long {
		width: 30%;
		margin-right: 0;
	}

}

.box-head-filter {
	display: table;
	width: 100%;

	>div {
		display: table-cell;
		font-size: 14px;
		color: #8495a4;
		padding: 24px 0 6px;
	}

	.col4 {
		text-align: center;
		width: 12%;
	}

	.col5 {
		text-align: center;
		width: 21%;
	}

	.col1 {
		color: #2f83b8;
		padding-left: 15px;
		width: 16%;
	}

	.col2 {
		color: #181919;
		width: 16%;
	}

	.col3 {
		color: #2f83b8;
		width: 13%;
	}

}

.list-fliter {
	>ul {
		>li {
			border: 1px solid #e1e1e1;
			border-top: 2px solid #798c9c;
			margin-bottom: 6px;

			&.active,
			&:hover {
				.body-filter {
					background: #f4d4db;
				}

			}

		}

	}

	.col1 {
	}

}

.body-filter {
	display: table;
	width: 100%;
	background: #e1f3fc;

	>div {
		display: table-cell;
		font-size: 14px;
		padding: 15px 0px 20px;
	}

	.col1 {
		color: #2f83b8;
		padding-left: 15px;
		width: 16%;
	}

	.col2 {
		color: #181919;
		width: 16%;
	}

	.col3 {
		color: #2f83b8;
		width: 13%;
	}

	.yellow {
		display: inline-block;
		color: #fff;
		background: #d5ce16;
		font-size: 12px;
		padding: 2px 19px;
	}

	.green {
		display: inline-block;
		font-size: 12px;
		color: #fff;
		background: #1cbbb4;
		padding: 2px 19px;
	}

	.col4 {
		text-align: center;
		width: 12%;
	}

	.col5 {
		text-align: center;
		width: 21%;
	}

	.col6 {
		text-align: center;
	}

}

.question-filter {
	display: table;
	width: 100%;
	color: #888888;
	font-size: 14px;
	line-height: 29px;

	.ask {
		display: table-cell;
		font-size: 14px;
		padding-left: 14px;
		padding-right: 15px;
	}

	.add-answer {
		display: table-cell;
		width: 58%;

		ul {
			li {
				width: 50%;
				margin: 0;
				float: left;
				padding-right: 20px;

				span {
					display: block;
					background-position: 2px 11px;
				}

			}

		}

	}

}

@media screen and (max-width:1400px) {
	.col04 {
		width: 650px;
	}

	.box-select {
		margin-bottom: 10px;
		width: 30%;
		margin-right: 2%;

		p {
			font-size: 12px;
			margin-bottom: 4px;
		}

		&.long {
			width: 62%;
		}

	}

	.body-filter .col1,
	.box-head-filter .col1,
	.question-filter .ask {
		padding-left: 5px;
	}

	.body-filter > div,
	.box-head-filter > div,
	.question-filter .ask,
	.list-style li label span {
		font-size: 12px;
	}

	.question-filter .add-answer ul li span {
		background-position: 2px 8px;
	}

	.question-filter {
		line-height: 24px;
	}

	.content-list-ask {
		padding: 10px 11px 5px 10px;
	}

}

.hidden-control {
	.mCSB_buttonUp {
		display: none !important
	}

	.mCSB_buttonDown {
		display: none !important;
	}

	.mCSB_scrollTools a + .mCSB_draggerContainer {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mCSB_container_wrapper {
		margin-right: 3px;
	}

}

.box-search-soan {
	width: 419px;
	border: 1px solid #1cbbb4;
	@include border-radius(3px);
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;

	input {
		width: 100%;
		height: 32px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: none;
		border: 0;
		outline: none;
		background: none;
		font-size: 15px;
		padding-left: 37px;
	}

	button {
		position: absolute;
		width: 35px;
		height: 32px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: none;
		border: 0;
		outline: none;
		background: none;
		font-size: 15px;
		color: #798c9c;
	}

}

.box-list-soan {
	border: 1px solid #dddddd;

	.col01,
	.col02,
	.col03,
	.col04 {
		display: table-cell;
	}

	.col04 {
		width: 29%;
	}

	.col03 {
		width: 18%;
	}

	.col02 {
		width: 13%;
	}

}

.content-listsoan {
	padding: 13px 33px 0 23px;
}

.head-list-soan {
	display: table;
	width: 100%;

	

	>div {
		padding-top: 3px;
		padding-bottom: 6px;
		border-bottom: 1px solid #dddddd;
	}

	.col02,
	.col03,
	.col04 {
		border-left: 1px solid #dddddd;
		text-align: center;
	}

	.col01 {
		padding-left: 38px;
		text-align: left;
	}

}

.body-list-soan {
	font-size: 14px;
	color: #0f0f0f;
	line-height: 22px;

	>div {
		vertical-align: middle;
		position: relative;
		border-bottom: 1px solid #dddddd;
		
	}

	.col02,
	.col03 {
		text-align: center;
	}

	.col02,
	.col03,
	.col04 {
		border-left: 1px solid #dddddd;
	}

	.col04 {
		padding-left: 12px;
		padding-top: 13px;
		padding-bottom: 19px;
		padding-right: 45px;
		.delete{
			position: absolute;
			top: 50%;
			right: 24px;
			margin-top: -6px;
		}
	}

	.col01 {
		padding-left: 39px;
		position: relative;

		&:after {
			content: "";
			width: 1px;
			height: 100%;
			background: #dddddd;
			top: 0;
			left: 20px;
			position: absolute;
		}

		&:before {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../img/icon03.png);
			
			background-repeat: no-repeat;
			background-position: center center;
			top: 15px;
			left: 10px;
			z-index: 1;
		}
		&.watched{
			&:before{
				background-image: url(../img/icon01.png);
			}
		}
		&.watching{
			&:before{
				background-image: url(../img/icon02.png);
			}
		}

		.ttl {
			font-size: 16px;
			margin-bottom: 10px;
		}

		a {
			color: #555555;
			margin-right: 6px;

			i {
				font-size: 18px;
				display: inline-block;
				vertical-align: middle;
				color: #b5b5b5;
				margin-right: 5px;
			}

		}

	}

	.num {
		color: #1cbbb4;
		font-weight: bold;
	}

}
.box-list-soan{
	.hidden-control .mCSB_container_wrapper{
		margin-right: 0;
	}
}