<template>
	<div id="tab-left-33" class="tab-content-js01">
		<div class="custom-bar get-height hidden-control">
			<div class="content-list-ask">
				<div class="filter-search clearfix">
					<div class="box-select">
						<p>Người soạn</p>
						<div class="cover-select2">
							<select  v-model="admin" @change="onChange">
								<option value="-1">-- Chưa chọn --</option>
								<option v-for="(admin, adminIndex)  in admins" :value="adminIndex"> {{ admin }}</option>
							</select>
						</div>
					</div>
					<div class="box-select">
						<p>Độ khó</p>
						<div class="cover-select2">
							<select  v-model="questionLevel" @change="onChange">
								<option value="-1">-- Chưa chọn --</option>
								<option v-for="(questionLevel, questionLevelIndex)  in questionlevels" :value="questionLevelIndex"> {{ questionLevel }}</option>
							</select>
						</div>
					</div>
					<div class="box-select">
						<p>Trạng thái duyệt</p>
						<div class="cover-select2">
							<select  v-model="questionapprove" @change="onChange">
								<option value="-1">-- Chưa chọn --</option>
								<option v-for="(questionapprove, questionapprovesIndex)  in questionapproves" :value="questionapprovesIndex"> {{ questionapprove }}</option>
							</select>
						</div>
					</div>
					<div class="box-select">
						<p>Trạng thái áp dụng</p>
						<div class="cover-select2">
							<select  v-model="questionapply" @change="onChange">
								<option value="-1">-- Chưa chọn --</option>
								<option v-for="(questionapply, questionappliesIndex)  in questionapplies" :value="questionappliesIndex"> {{ questionapply }}</option>
							</select>
						</div>
					</div>
					<div class="box-select long">
						<p>Lọc theo ngày</p>
						<div class="cover-select2 ">
							<select>
								<option>Trọn đời: 1 Tháng 12 2017 - 23 Tháng 12 2017</option>
								<option>Trọn đời: 1 Tháng 12 2017 - 23 Tháng 12 2017</option>
								<option>Trọn đời: 1 Tháng 12 2017 - 23 Tháng 12 2017</option>
							</select>
						</div>
					</div>
				</div>
				<div class="list-fliter">
					<div class="box-head-filter">
						<div class="col1">Mã câu hỏi</div>
						<div class="col2">Ngày soạn</div>
						<div class="col3">Người soạn</div>
						<div class="col4">Độ khó</div>
						<div class="col5">Trạng thái duyệt</div>
						<div class="col6">Trạng thái áp dụng</div>
					</div>
					<ul>
						<li v-for="question in questionsView">
							<div class="body-filter">
								<div class="col1">{{ question.code }} <i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
								<div class="col2">{{ dateFormat(question.created_at, 'D/MM/YYYY H:mm') }}</div>
								<div class="col3">{{ question.creater.name }}</div>
								<div class="col4"><span class="yellow">{{ questionlevels[question.level] }}</span></div>
								<div class="col5"><span class="green">{{ questionapproves[question.approve_flg] }}</span></div>
								<div class="col6"><span class="green">{{ questionapplies[question.apply_flg] }}</span></div>
							</div>
							<div class="question-filter">
								<div :class="question.type == 'essay' ? 'ask full' : 'ask'" v-html="question.content">
								</div>
								<div v-if="question.type == 'choice'" class="add-answer">
									<div class="clearfix">
										<ul class="list-style" v-for="chunk in chunkedItems(question.answers)">
											<li v-for="answer in chunk">
												<label>
													<input name="ask01" type="radio">
													<span>{{ answer.content }}</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

import moment from 'moment-timezone'

export default {
	name: 'ListQuestion',
	props: {
		questions: {
	     	type: Object,
	      	required: true
	    },
	    admins: {
	     	type: Object,
	      	required: true
	    },
	    questionlevels: {
			type: Array,
			required: true
	    },
	    questionapproves: {
			type: Array,
			required: true
	    },
	    questionapplies: {
			type: Array,
			required: true
	    },
	    lessonid : {
	    	type: Number,
			required: true
	    }
	},
	data () {
		return {
			admin: -1,
			questionLevel: -1,
			questionapprove: -1,
			questionapply: -1,
			questionsView: []
		}
	},
	created () {
		this.questionsView = this.questions.data
	},
	methods: {
		dateFormat (value, format) {
	      return moment(value).format(format)
	    },
	    chunkedItems (questionsView) {
	    	return _.chunk(questionsView,2)
	   },
	   onChange () {
	   	this.fetchQuestion()
	   },
	   fetchQuestion() {
		   axios.get(`/teacher/`+ this.lessonid + `/questions`, { params: { admin: this.admin, questionLevel:this.questionLevel, questionapprove: this.questionapprove, questionapply:this.questionapply  } }).then(({ data }) => {
		   		this.questionsView = data.data
	      })
	   }
	}
	
}
</script>