<template>
	<div id="tab-left-22" class="tab-content-js01">
		<div class="get-height ">
			<div class="content-listsoan">
				<div class="box-search-soan">
					<button><i class="fa fa-search" aria-hidden="true"></i></button>
					<input type="search"
						v-model="lessonSearch" 
			 			placeholder="Tìm bài học"
			 			@keyup="search"
					>
				</div>
				<div class="box-list-soan">
					<div class="head-list-soan">
						<div class="col01">List bài học của bạn</div>
						<div class="col02">Ngày thêm</div>
						<div class="col03">Lĩnh vực kiến thức</div>
						<div class="col04">Số câu hỏi bạn đã soạn</div>
					</div>
					<div class="custom-bar get-height5 hidden-control"  >
						<div v-for="(lesson, lessonIndex) in listLesson" class="body-list-soan">
							<div class="col01 watched">
								<p class="ttl">{{ lesson.name }}</p>
								<p>
									<a href="#" class="trans time"><i class="fa fa-play-circle" aria-hidden="true"></i>03:45</a>
									<a href="#" class="trans"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#" class="trans"><i class="fa fa-comments" aria-hidden="true"></i></a>
								</p>
							</div>
							<div class="col02">{{ dateFormat(lesson.created_at, 'D/MM/YYYY') }}</div>
							<div class="col03">{{ lesson.knowledge_area.name }}</div>
							<div class="col04">
								<p><span class="num">3</span> câu ( Tổng <span class="num">69</span> câu ) - Tự luận</p>
								<p><span class="num">0</span> câu ( Tổng <span class="num">69</span> câu ) - Trắc nghiệm</p>
								<a href="#" class="delete"><img :src="imgurl" alt=" "></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

import moment from 'moment-timezone'

export default {
	name: 'WishList',
	props: {
		imgurl: {
	     	type: String,
	      	required: true
	    },
	    lessonid : {
	    	type: Number,
			required: true
	    },
	    lessonprops : {
	    	type: Object,
	      	required: true
	    }
	},
	data () {
		return {
			listLesson: [],
			lessonSearch: ''
		}
	},
	created () {
		this.listLesson = this.lessonprops.data
	},
	methods: {
		dateFormat (value, format) {
	     	return moment(value).format(format)
	    },
	    fetchLesson() {
		   	axios.get(`/teacher/`+ this.lessonid + `/lessons`,{ params: { name: this.lessonSearch } }).then(({ data }) => {
		   		this.listLesson = data.data
	      })
	   },
	   search () {
			this.fetchLesson()
		},
	}
}
</script>
<style>
custom-bar {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>