@charset "utf-8";

.top-main {
	&.detail {
		padding-bottom: 8px;

		.left-top-detail {
			float: left;
			font-size: 26.82px;
			color: #1cbbb4;
			margin-left: 98px;
			position: relative;
			top: -7px;

			img {
				margin-right: 12px;
				position: relative;
				top: -4px;
			}

		}

	}

}

.content-post {
	padding: 8px 0 8px 98px;
	position: relative;
	.mCSB_scrollTools a + .mCSB_draggerContainer{
		margin: 0!important;
	}
	&:hover {
		.up-down,
		.control-video,
		.mCSB_scrollTools a + .mCSB_draggerContainer {
			@include opacity(1);
		}

	}

	.up-down,
	.control-video,
	.mCSB_scrollTools a + .mCSB_draggerContainer {
		@include opacity(0);
		 
	}

	.mCSB_buttonUp,
	.mCSB_buttonDown {
		//@include opacity(0) !important;
	}

	h1 {
		font-size: 22px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 10px;
	}

	strong {
		font-weight: bold;
	}

	ul,
	ol {
		margin-bottom: 15px;
		font-size: 14px;
		padding-left: 20px;
	}

	ol {
		li {
			list-style: disc;
		}

	}

	ul {
		li {
			list-style: decimal;
		}

	}


	.inner {
		background: #fff;
		position: relative;
		width: 100%;
		overflow: auto;
		padding: 0;
		.mCustomScrollBox{
			padding-right: 117px!important;
			&:after{
				position: absolute;
				height: 100%;
				top: 0;
				width: 97px;
				right: 0;
				content: "";
				background: #333333;
			}
		}
		.mCSB_container{
			padding: 20px; 
		}
		.mCSB_scrollTools{
			right: 97px;
			z-index: 100;
		}
		.mCSB_container_wrapper{
			margin-right: 117px!important;
		}
		.mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp{
			width: 45px;
			height: 41px;
			top: 50%;
			@include opacity(1);
			background: url(../img/icon14.png) no-repeat center center;
			margin-top: -19px;
			right: -72px;
		}
		.mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown{
			width: 45px;
			height: 41px;
			top: 50%;
			@include opacity(1);
			background: url(../img/icon15.png) no-repeat center center;
			margin-top: 44px;
			right: -72px;
		}
	}

	.control-video {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 16px 1px;

		.right {
			a {
				margin: 0 4px;
			}

		}

	}

	.up-down {
		position: absolute;
		top: 50%;
		margin-top: -41px;
		right: 25px;
		//display: none;

		a {
			display: block;
			margin: 22px 0;
		}

	}

}

@media screen and (max-width:1500px) {
	.main-content {
		.top-main {
			&.detail {
				.left-top-detail {
					margin-left: 10px;
				}

			}

			.giude {
				margin-left: 15px;
				i{
					margin-right: 5px;
				}
			}
			.rating {
				margin-left: 15px;
			}

		}

	}

}
