@charset "utf-8";

.mb20 {
	margin-bottom: 20px;
}

.container {
	margin: 0 auto;
	padding: 10px;
}

.dis-tb {
	display: table;
	width: 100%;
}

.dis-cell {
	display: table-cell;
	vertical-align: top;
}

.container {
	// display: flex;
	// -js-display: flex;
	// display: -webkit-flex;
	// display: flex;
	// -webkit-flex-wrap: wrap;
	// flex-wrap: wrap;
}

.col-page {
	margin: 10px;
}

.custom-bar {
	overflow: auto;
}

.col-left {
	width: 100%;
	border: 1px solid #dddddd;
	background: #fff;
	.mCSB_buttonDown,.mCSB_buttonUp{
		display: none!important;
	}
}

.col-mid {
	width: 100%;
}

.main-content {
	background: #333333;
}

.cover-col {
	padding: 10px;
	//float: left;
}

.col01 {
	//width: 24%;
	width: 460px;
}

.col02 {
	//width: 57%;
}

.col03 {
	//width: 19%;
	width: 340px;
}

.col-right {
	//width: 320px;
	border: 1px solid #dddddd;
	background: #fff;
}

.flex-grow {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.tabs-menu {
	&.two-item {
		li {
			width: 50%;

			a {
				height: 57px;
			}

		}

	}

	li {
		float: left;
		width: 33.333333%;
		border-bottom: 4px solid #dddddd;

		&.current {
			border-color: #1cbbb4;

			a {
				color: #1cbbb4;

				.fa {
					color: #1cbbb4;
				}

			}

		}

		&:first-child {
			a {
				border: 0;
			}

		}

		a {
			display: block;
			color: #b5b5b5;
			text-align: center;
			border-left: 1px solid #dddddd;
			padding: 17px 8px 14px 0px;
			font-size: 18px;
			height: 57px;

			img {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}

			.fa {
				color: #b5b5b5;
				font-size: 24px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}

		}

	}

}

.tab-content {
	display: none;
}

#tab-1,
#tab-right-1 {
	display: block;
}

.head-accor {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding: 21px 18px 14px;
	cursor: pointer;

	&.active {
		.arrow {
			-ms-transform: rotate(180deg); /* IE 9 */
			-webkit-transform: rotate(180deg); /* Safari 3-8 */
			transform: rotate(180deg);
		}

	}

	.arrow {
		position: absolute;
		color: #b5b5b5;
		font-size: 18px;
		top: 22px;
		right: 19px;
		@include transition();
	}

}

.content-accor {
	ul {
		li {
			border-bottom: 1px solid #dddddd;
			position: relative;
			padding: 15px 0 9px 39px;
			color: #888888;@include transition();

			&:hover {
				background-color: #66e3dd;
				color: #fff;
				.time{
					color: #fff;
				}
			}

			&.watched {
				&:before {
					background-image: url(../img/icon01.png);
				}

			}

			&.watching {
				background-color: #66e3dd;
				.time{
					color: #fff;
				}
				color: #fff;

				&:before {
					background-image: url(../img/icon02.png);
				}

			}

			a {
				color: #555555;
				font-size: 14px;
				display: inline-block;
				margin-right: 6px;

				&.time {
					margin-right: 13px;

					i {
						margin-right: 7px;
					}

				}

				i {
					color: #b5b5b5;
					font-size: 18px;
					display: inline-block;
					vertical-align: middle;
				}

			}

			.ttl-lesson {
				margin-bottom: 11px;
				font-size: 16px;
			}

			&:after {
				content: "";
				width: 1px;
				height: 100%;
				background: #dddddd;
				top: 0;
				left: 20px;
				position: absolute;
			}

			&:before {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				background-image: url(../img/icon03.png);
				background-repeat: no-repeat;
				background-position: center center;
				top: 15px;
				left: 10px;
				z-index: 1;
			}

		}

	}

}

.content-accor {
	display: none;
}

.main-content {
	.top-main {
		background: #333333;
		border-bottom: 1px solid #555555;
		padding: 17px 25px 19px 0;

		.view-style {
			display: inline-block;
			font-size: 14px;
			color: #fff;

			a {
				display: inline-block;
				width: 24px;
				height: 16px;
				background-repeat: no-repeat;
				background-position: center center;
				vertical-align: top;

				&.no-sidebar {
					background-image: url(../img/icon04.png);
					margin-left: 10px;

					&.active {
						background-image: url(../img/icon05.png);
					}

				}

				&.has-sidebar {
					margin-left: 7px;
					background-image: url(../img/icon06.png);

					&.active {
						background-image: url(../img/icon07.png);
					}

				}

			}

		}

		.rating {
			display: inline-block;
			font-size: 14px;
			color: #fff;
			margin-left: 38px;

			a {
				position: relative;
				top: -2px;
				outline: none;
				cursor: pointer;
			}

		}

		.giude {
			display: inline-block;
			font-size: 14px;
			color: #fff;
			margin-left: 34px;

			i {
				font-size: 24px;
				display: inline-block;
				vertical-align: middle;
				color: #b5b5b5;
				margin-right: 9px;
			}

		}

		.right {
			float: right;
		}

	}

}

.video {
	display: block;
	width: 100%;
}

.control-video {
	padding: 20px 20px 0 27px;

	.left {
		float: left;
		color: #fff;
		font-size: 14px;
		margin-top: 11px;
	}

	.right {
		float: right;

		a {
			float: left;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			background: #555555;
			color: #fff;
			@include border-radius(40px);
			margin: 0 10px;
		}

	}

}

.flatRoundedCheckbox {
	width: 29px;
	height: 14px;
	margin: 0 17px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.flatRoundedCheckbox input {
	display: none;
}

.flatRoundedCheckbox div {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 50px;
	position: relative;
}

.flatRoundedCheckbox label {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	border: 1px solid #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	z-index: 1;
	left: 2px;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ div {
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ label {
	left: 17px;
}

.italic {
	font-style: italic;
	font-weight: 300;
}

.box-text {
	border: 1px solid #dddddd;
	@include border-radius(4px);
	padding: 6px 9px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 8px;

	textarea {
		width: 100%;
		border: 0;
		resize: none;
		font-size: 14px;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 47px;
	}

	input {
		width: 100%;
		font-size: 14px;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		border: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		height: 31px;
		margin-bottom: 3px;
	}

}

.list-note {
	padding: 19px 8px 0 10px;

	&.second {
		padding: 14px 8px 0 14px;
	}

	.let {
		margin-bottom: 4px;
	}

}

hr {
	border: 0;
	border-bottom: 1px solid #dddddd;
	margin: 0;
}

.submit {
	display: inline-block;
	width: 82px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: 0;
	@include border-radius(3px);
	background: #1cbbb4;
	color: #fff;
	padding: 6px 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;

	i {
		font-size: 18px;
		color: #fff;
		margin-right: 5px;
	}

}

.box-note {
	border: 1px solid #dddddd;
	@include border-radius(4px);
	padding: 14px 9px 12px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	position: relative;

	.edit {
		position: absolute;
		top: 0;
		right: 0;
		padding: 6px 10px;

		a {
			display: inline-block;
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}

			i {
				font-size: 18px;
				color: #b5b5b5;
			}

		}

	}

	.ttl-box-note {
		font-size: 16px;
		font-weight: bold;
		color: #333333;
		margin-bottom: 6px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: no-repeat;
		border: 0;
		text-decoration: underline;
		width: 100%;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
	}

	.date {
		color: #b5b5b5;
		font-size: 12px;
		margin-bottom: 6px;
	}

	textarea {
		font-size: 14px;
		line-height: 22px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: no-repeat;
		border: 0;
		text-decoration: underline;
		width: 100%;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		resize: none;
		height: auto;
	}

	p {
		font-size: 14px;
		line-height: 22px;
	}

}

.click-pop {
	display: inline-block;
	vertical-align: middle;
}

.box-rating {
	display: inline-block;
	vertical-align: middle;
	width: 108px;
	background-image: url(../img/star00.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 6px;
	position: relative;
	top: -2px;

	&.star1 {
		background-image: url(../img/star01.png);
	}

	&.star2 {
		background-image: url(../img/star02.png);
	}

	&.star3 {
		background-image: url(../img/star03.png);
	}

	&.star4 {
		background-image: url(../img/star04.png);
	}

	&.star5 {
		background-image: url(../img/star05.png);
	}

	label {
		float: left;
		margin-left: 7px;
		width: 16px;
		height: 16px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}

	}

	input {
		display: none;
	}

}

.content-pop {
	width: 506px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	position: relative;

	.close {
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 24px;
		font-size: 20px;
		color: #b5b5b5;
	}

	.ttl-pop-rating {
		text-align: center;
		font-size: 18px;
		color: #1cbbb4;
		font-weight: bold;
		padding-top: 3px;
		margin-bottom: 18px;
	}

	.content-rating-pop {
		width: 380px;
		margin: 0 auto;

		.content-mess {
			width: 100%;
			height: 100px;
			font-size: 14px;
			line-height: 22px;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			-webkit-border-radius: 0;
			-khtml-border-radius: 0;
			-moz-border-radius: 0;
			-ms-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			background: no-repeat;
			border: 0;
			font-family: 'Roboto', Helvetica, Arial, sans-serif;
			resize: none;
			border: 1px solid #dddddd;
			@include border-radius(4px);
			padding: 10px 18px;
			margin-bottom: 5px;
			&.fixup{
				padding: 5px;
				height: 150px;
			}
		}

	}

}

.detail-rating {
	width: 192px;
	margin: 0 auto;

	table {
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		margin-bottom: 9px;

		tr {
			th {
				width: 85px;
				text-align: left;
				color: #333333;
				font-size: 14px;
				vertical-align: middle;
				padding: 6px 0 7px;
			}

			td {
				vertical-align: middle;
				padding: 6px 0 7px;
			}

		}

	}

}

.cmn-btn {
	width: 160px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background: no-repeat;
	border: 0;
	background: #1cbbb4;
	display: inline-block;
	@include border-radius(4px);
	font-size: 16px;
	padding: 9px 0 8px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	margin-bottom: 4px;
	cursor: pointer;
}

.comment {
	margin-top: 16px;
}

.box-comment {
	position: relative;
	padding-left: 4px;
	padding-left: 34px;
	padding-bottom: 10px;

	&.sub {
		.avatar {
			width: 22px;
			height: 22px;
			line-height: 17px;
			top: 4px;
			left: -1px;
		}

		padding-left: 28px;
		position: relative;
		top: -1px;
		margin-bottom: 0px;
		padding-bottom: 0;
		margin-bottom: -2px;
	}

	.avatar {
		position: absolute;
		width: 31px;
		height: 31px;
		text-align: center;
		line-height: 27px;
		@include border-radius(48px);
		top: 0;
		left: 0;
		background: #3b4654;

		i {
			font-size: 14px;
			color: #b5b5b5;
		}

	}

	.name {
		color: #477cb1;
		font-size: 14px;
		font-weight: bold;
		margin-right: 5px;

		span {
			display: inline-block;
			color: #fff;
			font-size: 9px;
			font-weight: 300;
			background: #1cbbb4;
			vertical-align: middle;
			position: relative;
			top: -2px;
		}

	}

	p {
		font-size: 14px;
	}

	.get-img {
		position: relative;
		margin-top: 3px;
		margin-bottom: 2px;

		.send {
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			font-size: 18px;
		}

	}

}

.box-write {
	border: 1px solid #b5b5b5;
	@include border-radius(8px);
	margin-bottom: 7px;

	table {
		width: 100%;

		tr {
			th {
			}

			td {
				vertical-align: middle;
			}

		}

		.imoj {
			width: 19px;
			text-align: center;
		}

		.pic {
			width: 20px;
			text-align: center;
		}

	}

	input {
		height: 27px;
		width: 100%;
		text-indent: 10px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: no-repeat;
		border: 0;
		background: none;
	}

	.utility {
		float: right;
		line-height: 27px;

		a {
			display: inline-block;
			vertical-align: middle;
			line-height: 27px;
		}

	}

}

.answer {
	.left {
		float: left;

		span {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
		}

		a {
			font-size: 13.5px;
			color: #3b74ad;
			display: inline-block;

			&.like {
				color: #a3a3a3;
				font-size: 13.5px;

				span {
					margin: 0;
				}

				i {
					font-size: 18px;
					margin-right: 4px;
				}

				&.active {
					color: #a3a3a3;

					i {
						color: #2c83cd;
					}

				}

			}

			&.dislike {
				color: #a3a3a3;
				font-size: 13.5px;

				span {
					margin: 0;
				}

				i {
					font-size: 18px;
					margin-right: 5px;
				}

				&.active {
					color: #a3a3a3;

					i {
						color: #a61616;
					}

				}

			}

		}

	}

	.right {
		float: right;
		margin-top: 3px;
		font-size: 12px;
		color: #b5b5b5;
		font-weight: 300;
	}

}

.sub-anwer {
	position: relative;
	margin-bottom: 2px;

	input {
		width: 100%;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: no-repeat;
		border: 0;
		background: none;
		padding-bottom: 3px;
		border-bottom: 1px solid #fff;

		&:focus {
			border-bottom: 1px solid #1cbbb4;
		}

	}

	.right {
		position: absolute;
		top: 0;
		right: 0;

		a {
			display: inline-block;
		}

	}

}

.multy-image {
	border: 1px solid #ddd;
	padding: 1px;
	position: relative;

	.close {
		position: absolute;
		top: 0;
		right: 0;
		width: 10px;
		height: 10px;
		text-align: center;
		line-height: 10px;
		z-index: 10;
		color: #e0e0e0;
		font-size: 10px;
	}

	img {
		float: left;
		width: 40%;
		margin-right: 1%;
	}

}
.fix-ttl{
	width: 100%;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: no-repeat;
		border: 0;
		background: none;
		padding-bottom: 3px;
		border-bottom: 1px solid #1cbbb4;
		font-size: 16px;
		margin-bottom: 10px;
}

@media screen and (max-width:1500px) {
	.cover-col {
		padding: 5px;
	}
	.container{
		padding: 5px;
	}
	.col01 {
		width: 350px;
	}
	.col03{
		width: 300px;
	}

	.tabs-menu {
		&.two-item{
			li{
				a{
					height: 40px;
					img{
						height: 20px;
					}
				}
			}
		}
		li {
			a {
				font-size: 14px;
				height: 40px;
				padding: 10px 0;

				.fa {
					font-size: 20px
				}

			}

		}

	}

	.head-accor {
		font-size: 16px;
	}

	.content-accor {
		ul {
			li {
				padding-left: 30px;
				&:after{
					left: 13px;
				}
				&:before{
					left: 3px;
				}

				.ttl-lesson {
					font-size: 14px;
					margin-bottom: 5px;
				}

			}

		}

	}

}
@media screen and (max-width:1366px) {

}
