@charset "utf-8";

header {
	background: #2c3540;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
	border-bottom: 1px solid #a9a9a9;

	.left {
		.btn-menu {
			background: #3b4654;
			color: #fff;
			font-size: 30px;
			float: left;
			width: 80px;
			height: 80px;
			text-align: center;
			line-height: 2.666666667;
		}

		.logo {
			float: left;
		}

	}
	.right{
		float: right;
		padding-right: 20px;
		.icon{
			font-size: 24px;
			color: #fff;
			line-height: 80px;
			text-align: center;
			width: 53px;
			float: left;
		}
		.infor-user{
			float: left;
			margin-left: 5px;
			padding: 13px 20px;
			width: 320px;
			position: relative;
			cursor: pointer;
			.arrow{
				position: absolute;
				color: #b5b5b5;
				font-size: 18px;
				top: 2px;
				right: 0;

			}
			.avatar{
				@include border-radius(40px);
				width: 54px;
				height: 54px;
				background: #3b4654;
				text-align: center;
				line-height: 54px;
				color: #b5b5b5;
				font-size: 24px;
				float: left;
				margin-right: 10px;
			}
			.name{
				font-size: 18px;
				color: #fff;
				text-transform: uppercase;
				margin-top: 6px;
				position: relative;
				top: 0;
				right: 0;
				
				span{
					display: inline-block;
					position: relative;
					padding-right: 31px;
				}
			}
			.position{
				color: #888888;
				font-size: 13px;
			}
			&:hover{
				.drop-down{
					display: block;
				}
			}
			.drop-down{
				padding-top: 81px;
				position: absolute;
				top: 0;
				width: 248px;
				left: 72px;
				display: none;
				z-index: 20;
				.cover{
					background: rgba(0,0,0,0.64);
					padding: 16px 0 12px;
				}
				ul{
					li{
						margin-bottom: 2px;
						&.active{
							a{
								background: #17aaa4;
							}
						}
						a{
							display: block;
							font-size: 17px;
							color: #fff;
							padding: 2px 0 4px 28px;
							&:hover{
								background: #17aaa4;
							}
							img{
								display: inline-block;
								vertical-align: middle;
								margin-right: 10px;
								position: relative;
								top: -1px;
							}
						}
					}
				}
			}
		}

	}

}
