.main-content.white {
	background: #fff;
}

.tabs-menu {
	&.border {
		border-bottom: 4px solid #ddd;

		li {
			border-bottom: 0;
		}

	}

}

.content-result {
	display: table;
	width: 100%;

	.left-result {
		display: table-cell;
		width: 435px;
		padding-left: 5px;
		border-right: 4px solid #dddddd;

		.ctn {
			ul {
				li {
					padding: 5px 10px 10px 17px;
					border-bottom: 1px solid #ddd;

					&.active,
					&:hover {
						background: #49c9c3;

						p {
							color: #0b659e;

							.col1 {
								color: #fff;
							}

							.code {
								color: #0c3c9c;
							}

							&.italic {
								color: #fff;
							}

						}

					}

					&:hover {
						cursor: pointer;
					}

					p {
						font-size: 14px;
						color: #b6b2b2;
						margin-bottom: 1px;

						.col1 {
							color: #798c9c;
							width: 107px;
							display: inline-block;
						}

						.code {
							color: #2f83b8;
							display: inline-block;
							margin-right: 12px;
						}

						&.italic {
							font-style: italic;
							color: #888888;
							margin-top: 4px;
							margin-bottom: 0;
						}

					}

				}

			}

		}

	}

	.right-result {
		display: table-cell;
		vertical-align: top;
	}

}

.detail-answer {
	padding: 15px 10px;

	.top-answer {
		background: #f2f2f2;
		border-bottom: 2px solid #dddddd;
		font-size: 14px;
		padding: 10px 15px 9px;

		table {
			width: 100%;
			line-height: 22px;

			tr {
				td {
					&:first-child {
						width: 60%;
					}

				}

			}

		}

	}

	.bot-answer {
		min-height: 266px;
		background: #f2f2f2;
		padding: 8px 16px;

		p {
			font-size: 14px;
			line-height: 28.3px;
			color: #1f1d1d;
		}

	}

}

.top-left-result {
	padding: 14px 1px 10px 19px;
	border-bottom: 2px solid #dddddd;

	.list-style {
		li {
			margin-right: 10px;
		}

	}

	.ttl-top-left-result {
		font-size: 18px;
		color: #4a3f3f;
		margin-bottom: 7px;
	}

}

.light-blue {
	color: #798c9c;
	display: inline-block;
	margin-right: 10px;

	.no-margin {
		margin: 0
	}

}

.dark-blue {
	color: #2f83b8;
	display: inline-block;
	margin-right: 10px;

	.no-margin {
		margin: 0
	}

}

.no-bg {
	background: none !important;
}

.bg-white {
	background: #fff;
}

.tabs-menu.four-item.stl2.long li {
	width: 222px;
}

.light-gray {
	color: #888888;
}

.content-right-top-answer {
	margin-bottom: 12px;
	background: #fff;
	padding: 16px 11px 13px;
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
	.comment{
		border: 1px solid #ddd;
		.tool{
			border-bottom: 1px solid #ddd;
		}
		.text-area-none{
				padding: 10px;
				height: 87px;
		}
	}
	.inner {
		background: #edf2f5;

		&.second {
			padding: 10px 8px;
			min-height: 195px;

			.light-blue {
				margin-bottom: 1px;
				margin-right: 0;
				display: block;
			}

			p {
				line-height: 28px;
			}

		}

		+ .inner {
			margin-top: 10px;
		}

		.top {
			font-size: 14px;
			padding: 9px 1px 10px 8px;
			border-bottom: 2px solid #dddddd;

			p {
				+ p {
					margin-top: 5px;
				}

			}

		}

		.bot {
			padding: 8px 8px;
			min-height: 98px;

			p {
				font-size: 14px;
				line-height: 28px;
			}

		}

	}

}

.inline {
	display: inline-block;
	margin: 0 4px;
}

.tbl02 {
	width: 100%;
	line-height: 34px;

	th {
		text-align: left;
		font-weight: normal;
		width: 118px;
		color: #798c9c;
		padding-left: 8px;
	}

}

.point {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 38px;
	height: 25px;
	padding: 1px 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	margin-right: 21px;
	text-align: center;
}
@media screen and (max-width:1400px) {
	.content-result .left-result{
		width: 325px;
	}
	.cover-col.result{
		width: 500px;
	}
}